.fullBody {
  background-image: url("../images/main/value-bg01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#mainVisual {
  overflow: hidden;
}
#mainVisual li {
  position: relative;
}
#mainVisual li#visual01 .img {
  background-image: url("../images/main/mainVisual01.jpg");
}
#mainVisual li#visual02 .img {
  background-image: url("../images/main/mainVisual02.jpg");
}
#mainVisual li#visual03 .img {
  background-image: url("../images/main/mainVisual03.jpg");
}
#mainVisual li.swiper-slide-active .img {
  transform: scale(1);
}
#mainVisual li .img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 5s ease 1s;
  transform: scale(1.2);
}
#mainVisual li .txtBox {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
}
#mainVisual li .txtBox .main {
  font-size: 5vw;
  font-weight: 700;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#mainVisual li .txtBox .sub {
  font-size: 24px;
  line-height: 1.5;
  margin: 50px 0;
}
#mainVisual li .txtBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease;
}
#mainVisual li .txtBox a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(5px);
  backdrop-filter: blur(10px);
}
#mainVisual li .txtBox a:hover div .char {
  text-shadow: 0 16px 0 #f00;
  color: #f00;
  transform: translateY(-16px);
}
#mainVisual li .txtBox a div {
  overflow: hidden;
  transition: all 0.25s ease;
}
#mainVisual li .txtBox a div .char {
  text-shadow: 0 16px 0 #fff;
  transition: all 0.25s ease;
}
#mainVisual li .txtBox a div .char:nth-child(1) {
  transition-delay: 0.02s;
}
#mainVisual li .txtBox a div .char:nth-child(2) {
  transition-delay: 0.04s;
}
#mainVisual li .txtBox a div .char:nth-child(3) {
  transition-delay: 0.06s;
}
#mainVisual li .txtBox a div .char:nth-child(4) {
  transition-delay: 0.08s;
}
#mainVisual li .txtBox a div .char:nth-child(5) {
  transition-delay: 0.1s;
}
#mainVisual li .txtBox a div .char:nth-child(6) {
  transition-delay: 0.12s;
}
#mainVisual li .txtBox a div .char:nth-child(7) {
  transition-delay: 0.14s;
}
#mainVisual li .txtBox a div .char:nth-child(8) {
  transition-delay: 0.16s;
}
#mainVisual li .txtBox a div .char:nth-child(9) {
  transition-delay: 0.18s;
}
#mainVisual li .txtBox a div .char:nth-child(10) {
  transition-delay: 0.2s;
}

#business {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
#business h2 {
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 50px;
  top: 150px;
}
#business ul li {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 100vh;
}
#business ul li .txtBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 50px;
}
#business ul li .txtBox .num {
  font-size: 300px;
  font-weight: 900;
  text-align: right;
  width: 100%;
  color: #ddd;
}
#business ul li .txtBox .title {
  font-size: 20px;
  color: #119891;
}
#business ul li .txtBox .main {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.5;
  margin: 20px 0;
}
#business ul li .txtBox .sub {
  font-size: 18px;
  line-height: 1.5;
}

#grow {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#grow .txtBox {
  text-align: center;
  color: #fff;
}
#grow .txtBox .main {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#grow .txtBox .sub {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

#section04 {
  background-color: rgb(209, 116, 10);
}

#section05 {
  background-color: rgb(126, 3, 197);
}

#section06 {
  background-color: rgb(4, 196, 4);
}

#fp-nav ul li {
  width: 14px;
  height: 14px;
  margin: 30px 0;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 4px;
  width: 4px;
  margin: -2px;
}

#fp-nav ul li a span {
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  margin: -2px;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li a:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  margin: -15px;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li a.active:after {
  transform: scale(1);
}

#fp-nav ul li a:before {
  content: "";
  display: block;
  width: 300px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#fp-nav ul li:hover a span {
  width: 4px;
  height: 4px;
  margin: -2px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  white-space: nowrap;
  max-width: 220px;
  overflow: visible;
  display: block;
  opacity: 0.5;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
}
#fp-nav ul li .fp-tooltip.fp-right {
  right: 40px;
}