@import "vars";
@import "mixin";

.fullBody {
  background-image: url("../images/main/value-bg01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px);
    backdrop-filter: blur(10px);

    div {
      .char {
        //text-shadow: 0 24px 0 #111;
        //color: #111;
        //text-shadow: 0 16px 0 #111;
        transform: translateY(-20px);
      }
    }
  }
  div {
    overflow: hidden;
    transition: all 0.25s ease;
    .char {
      text-shadow: 0 20px 0 #fff;
      transition: all 0.25s ease;
      display: inline-block;
      &.whitespace {
        margin: 0 2px;
      }
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0.04 * $i + s;
        }
      }
    }
  }
}

#news .more {
  background-color: #111;
  color: #fff;
  margin-top: 50px;
  border: none;
}

#mainVisual {
  overflow: hidden;
  li {
    position: relative;
    @for $i from 1 through 3 {
      &#visual0#{$i} .img {
        background-image: url("../images/main/mainVisual0#{$i}.jpg");
      }
    }
    &.swiper-slide-active .img {
      transform: scale(1);
    }
    .img {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 5s ease 1s;
      transform: scale(1.2);
    }
    .txtBox {
      position: absolute;
      left: 200px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      z-index: 2;
      .main {
        font-size: 5vw;
        font-weight: 700;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      }
      .sub {
        font-size: 24px;
        line-height: 1.5;
        margin: 50px 0;
      }
    }
  }
}
#business {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  h2 {
    font-size: 72px;
    font-weight: 700;
    position: absolute;
    left: 50px;
    top: 150px;
  }
  ul {
    li {
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
      height: 100vh;
      .img {
      }
      .txtBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
        padding-left: 50px;
        .num {
          font-size: 300px;
          font-weight: 900;
          text-align: right;
          width: 100%;
          color: #ddd;
        }
        .title {
          font-size: 20px;
          color: #119891;
        }
        .main {
          font-size: 48px;
          font-weight: 500;
          line-height: 1.5;
          margin: 20px 0;
        }
        .sub {
          font-size: 18px;
          line-height: 1.5;
        }
      }
    }
  }
}
#grow {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .txtBox {
    text-align: center;
    color: #fff;
    .main {
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 30px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      .char {
        transform: translateY(100px);
      }
    }
    .sub {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
      overflow: hidden;
      .char {
        transform: translateY(100px);
      }
    }
  }
}
#info {
  ul {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease;
    &.bg01 {
      background-image: url("../images/main/value-info-bg01.jpg");
    }
    &.bg02 {
      background-image: url("../images/main/value-info-bg02.jpg");
    }
    &.bg03 {
      background-image: url("../images/main/value-info-bg03.jpg");
    }
    &.bg04 {
      background-image: url("../images/main/value-info-bg04.jpg");
    }

    li {
      height: 100vh;
      width: 25%;
      border-left: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      transition: all 0.25s ease;
      &:hover {
        background-color: #f00;
        .title {
          color: #fff;
        }
      }
      div {
        opacity: 0;
        transform: translateY(100px);
      }
      .title {
        font-size: 20px;
        font-weight: 700;
        color: #f00;
        &:after {
          content: "";
          display: block;
          width: 30px;
          height: 2px;
          background-color: #fff;
          margin: 20px auto;
        }
      }
      .num {
        margin-bottom: 30px;
        strong {
          font-size: 62px;
          font-weight: 900;
        }
      }
      .desc {
        line-height: 1.6;
        font-size: 18px;
      }
      &:nth-child(1) {
        border-left: none;
      }
    }
  }
}
#news {
  display: flex;
  height: 100vh;
  background-color: #fff;
  align-items: center;
  .titleBox {
    padding-left: 50px;
    width: 35%;
    h2 {
      font-size: 72px;
      font-weight: 700;
      .char {
        opacity: 0;
      }
      img {
        height: 60px;
      }
    }
  }
  .mask {
    width: 65%;
    overflow: hidden;
    li {
      width: 430px;
      opacity: 0;
      img {
        width: 100%;
      }
      .txtBox {
        margin-top: 20px;
        .category {
          color: #119891;
        }
        .title {
          font-size: 20px;
          font-weight: 500;
          margin: 10px 0 20px;
        }
        .date {
          font-size: 18px;
          color: #999;
        }
      }
    }
  }
}
#ir {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 100px;
  ul {
    display: flex;
    width: 100%;
    li {
      flex-basis: 50%;
      background-size: cover;
      background-position: 50%;
      transition: all 0.5s ease;
      &:hover {
        flex-basis: 75%;
      }
      &:nth-child(1) {
        background-image: url("../images/main/link-esg.jpg");
      }
      &:nth-child(2) {
        background-image: url("../images/main/link-ir.jpg");
      }

      a {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 360px;
        color: #fff;
        flex-direction: column;
        padding: 0 50px;
        h2 {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        p {
          line-height: 1.5;
          font-size: 20px;
        }
      }
    }
  }
}
.section .inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer {
}

// fullpage custom
#fp-nav ul li {
  width: 14px;
  height: 14px;
  margin: 30px 0;
}
#fp-nav ul li a {
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 4px;
  width: 4px;
  margin: -2px;
}
#fp-nav ul li a span {
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  margin: -2px;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li a:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  margin: -15px;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li a.active:after {
  transform: scale(1);
}

#fp-nav ul li a:before {
  content: "";
  display: block;
  width: 300px;
  height: 30px;
  //background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#fp-nav ul li:hover a span {
  width: 4px;
  height: 4px;
  margin: -2px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  white-space: nowrap;
  max-width: 220px;
  overflow: visible;
  display: block;
  opacity: 0.5;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  &.fp-right {
    right: 40px;
  }
}
#fp-nav.disable ul li .fp-tooltip {
  display: none !important;
}
