@import "vars";
@import "mixin";

#mainVisual {
  overflow: hidden;
  li {
    position: relative;
    @for $i from 1 through 3 {
      &#visual0#{$i} .img {
        background-image: url("../images/main/mainVisual0#{$i}.jpg");
      }
    }
    &.swiper-slide-active .img {
      transform: scale(1);
    }
    .img {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 5s ease 1s;
      transform: scale(1.2);
    }
    .txtBox {
      position: absolute;
      left: 200px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      z-index: 2;
      .main {
        font-size: 5vw;
        font-weight: 700;
      }
      .sub {
        font-size: 24px;
        line-height: 1.5;
        margin: 50px 0;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 100px;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          //background-color: #fff;
          div {
            .char {
              //color: #111;
              //text-shadow: 0 16px 0 #111;
              transform: translateY(-16px);
            }
          }
        }
        div {
          overflow: hidden;
          text-shadow: 0 16px 0 #fff;
          .char {
            transition: all 0.25s ease;
            @for $i from 1 through 10 {
              &:nth-child(#{$i}) {
                transition-delay: 0.02 * $i + s;
              }
            }
          }
        }
      }
    }
  }
}
#section02 {
  background-color: rgb(2, 196, 179);
}
#section03 {
  background-color: rgb(0, 77, 192);
}
#section04 {
  background-color: rgb(209, 116, 10);
}
#section05 {
  background-color: rgb(126, 3, 197);
}
#section06 {
  background-color: rgb(4, 196, 4);
}

// fullpage custom
#fp-nav ul li {
  width: 14px;
  height: 14px;
  margin: 30px 0;
}
#fp-nav ul li a {
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 4px;
  width: 4px;
  margin: -2px;
}
#fp-nav ul li a span {
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  margin: -2px;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li a:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  margin: -15px;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li a.active:after {
  transform: scale(1);
}

#fp-nav ul li a:before {
  content: "";
  display: block;
  width: 300px;
  height: 30px;
  //background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#fp-nav ul li:hover a span {
  width: 4px;
  height: 4px;
  margin: -2px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  white-space: nowrap;
  max-width: 220px;
  overflow: visible;
  display: block;
  opacity: 0.5;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  &.fp-right {
    right: 40px;
  }
}
