@import "vars";
@import "mixin";

.fullBody {
  background-image: url("../images/main/value-bg01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#mainVisual {
  overflow: hidden;
  li {
    position: relative;
    @for $i from 1 through 3 {
      &#visual0#{$i} .img {
        background-image: url("../images/main/mainVisual0#{$i}.jpg");
      }
    }
    &.swiper-slide-active .img {
      transform: scale(1);
    }
    .img {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 5s ease 1s;
      transform: scale(1.2);
    }
    .txtBox {
      position: absolute;
      left: 200px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      z-index: 2;
      .main {
        font-size: 5vw;
        font-weight: 700;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      }
      .sub {
        font-size: 24px;
        line-height: 1.5;
        margin: 50px 0;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 100px;
        font-weight: 700;
        text-transform: uppercase;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.25s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          transform: translateY(5px);
          backdrop-filter: blur(10px);

          div {
            .char {
              text-shadow: 0 16px 0 #f00;
              color: #f00;
              //text-shadow: 0 16px 0 #111;
              transform: translateY(-16px);
            }
          }
        }
        div {
          overflow: hidden;
          transition: all 0.25s ease;
          .char {
            text-shadow: 0 16px 0 #fff;
            transition: all 0.25s ease;
            @for $i from 1 through 10 {
              &:nth-child(#{$i}) {
                transition-delay: 0.02 * $i + s;
              }
            }
          }
        }
      }
    }
  }
}
#business {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  h2 {
    font-size: 72px;
    font-weight: 700;
    position: absolute;
    left: 50px;
    top: 150px;
  }
  ul {
    li {
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
      height: 100vh;
      .img {
      }
      .txtBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
        padding-left: 50px;
        .num {
          font-size: 300px;
          font-weight: 900;
          text-align: right;
          width: 100%;
          color: #ddd;
        }
        .title {
          font-size: 20px;
          color: #119891;
        }
        .main {
          font-size: 48px;
          font-weight: 500;
          line-height: 1.5;
          margin: 20px 0;
        }
        .sub {
          font-size: 18px;
          line-height: 1.5;
        }
      }
    }
  }
}
#grow {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .txtBox {
    text-align: center;
    color: #fff;
    .main {
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 30px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .sub {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}
#section04 {
  background-color: rgb(209, 116, 10);
}
#section05 {
  background-color: rgb(126, 3, 197);
}
#section06 {
  background-color: rgb(4, 196, 4);
}

// fullpage custom
#fp-nav ul li {
  width: 14px;
  height: 14px;
  margin: 30px 0;
}
#fp-nav ul li a {
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 4px;
  width: 4px;
  margin: -2px;
}
#fp-nav ul li a span {
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  margin: -2px;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li a:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  margin: -15px;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li a.active:after {
  transform: scale(1);
}

#fp-nav ul li a:before {
  content: "";
  display: block;
  width: 300px;
  height: 30px;
  //background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#fp-nav ul li:hover a span {
  width: 4px;
  height: 4px;
  margin: -2px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  white-space: nowrap;
  max-width: 220px;
  overflow: visible;
  display: block;
  opacity: 0.5;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  &.fp-right {
    right: 40px;
  }
}
